.pageTitle{
font-style: oblique;
}

.header{
background-color:#DDDDDD;
overflow: auto;
}

.text{
text-align: justify;
}
.blogImage{
width:50%;
}

.middleContainer{
background-color:#ADD8E6;overflow: auto;padding: 1%;
}

.footer{
background-color:#DDDDDD;
overflow: auto;
}

.footerAddress{
float:left;
width:30%;
padding: 1%;
box-sizing: border-box;
}

.homeImg{
width: 5%;
}

.phoneImg{
width: 5%;
}

.footerContact{
width:70%
}

.submitmessage{
color: red;
}

.news{
border-style: double;
padding: 1%;
margin: 1%;
box-sizing: border-box;
}

.newsImg{
width:100%;
}

.newsTitle{
font-size: larger;
}


.footerContact{
width:100%;
}
}

.readMore{
background-color: #ADD8E6;
}

.blogs{
width:40%;float:left;
}

.Latestnews{
width:60%;float: right;padding: 1%;box-sizing: border-box;padding-left: 4%;
}



body{
margin: 0%;
}
    .box {
        position:                   relative;
        font-family:                sans-serif;
        display:                    block;
        width:                      100%;
        height:                     7em;
        overflow:                   hidden;
    }
    .box .text {
        color:                      #333;
        padding:                    20px;
		padding-left: 				1%;
        /*width:                      204px;*/
        overflow:                   hidden;
        background:                 #ADD8E6;
        font-size:                  .95em;
        line-height:                1;
        text-align:                 justify;
    }

    .box .text:after {
        content:                    ' ';
        position:                   absolute;
        display:                    block;
        width:                      100%;
        height:                     1em;
        bottom:                     0px;
        left:                       0px;
        background:                 #ADD8E6;
    }

    .box .text:before {
        content:                    '...';
        text-align:                 right;
        position:                   absolute;
        display:                    block;
        width:                      2em;
        height:                     1em;
        bottom:                     1em;
        right:                      20px;

background: linear-gradient(to right,  #ADD8E6 0%,#ADD8E6  38%,#ADD8E6 99%);

    }
.newPageImage{
width: 50%;
}	
.newPageText{
text-align: justify;
padding: 5%;
}


@media screen and (max-width:960px) {
.blogs{
width:100%;
float:none;
}

.news {
border-style: none;
}

.Latestnews{
width:100%;
float:none;
padding-left: 1%;
}

.middleContainer{
padding: 4%;
}

}

@media screen and (max-width:800px) {
.footerAddress{
width:100%;
}

.footerContact{
width:100%;
}
}






	
	